
{% extends "base.html" %}
{% block conteudo %}

<form action="{% url 'biblioteca:emprestimo' %}" method="POST">
    {% csrf_token %}
    <select name="livroSelecionado">
        <option/>
        {% for livro in todos_livros %}
        <option value="{{livro.id}}" label="{{livro.nome}}"></option>
        {% endfor%}
    </select>
    <select name="pessoaSelecionada">
        <option/>
        {% for pessoa in todas_pessoas %}
        <option value="{{pessoa.id}}" label="{{pessoa.nome}}"></option>
        {% endfor%}
    </select>
    <input type="submit" value="Adicionar Emprestimo"/>
</form>
{% endblock %}